
/*Header section - navbar*/
.header{
    background-color: #1F2937;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0vw 15vw;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px 10px;
}

.links a{
    margin: 10px;
    text-decoration: none;
    color: #E5E7EB;
}

/*Header section - content01*/

.content01{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.sect01{
    max-width: 450px;
    margin: 5px 10px;
}

/* maybe but probably unnecessary
.sect01{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}*/

#one{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0px;
}

#two{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    padding: 10px 15px;
    border-radius: 8px;
    border-style: none;

}

#img01{
    max-width: 450px;
    margin: 5px 10px;
    background-color: gray;
}

/*Mid section*/

/* probably not necessary
.mid{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 0vw 15vw;
}*/

.info{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-top: 30px;
}

.content02{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    padding: 0vw 15vw;
}

.imgs{
    display: flex;
    flex-direction: column;
    max-width: 160px;
    margin: 5px 10px;
    align-items: center;
}

.imgs img{
    height: 150px;
    border: solid #3882F6;
    border-radius: 8px;
}

.imgs p{
    color: gray;
    flex-wrap: wrap;
    text-align: center;

}

/*Mid section - mid02*/
.mid02{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    max-width: 100vw;
    padding: 0vw 15vw;
}

#three{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#four{
    font-weight: bold;
    align-self: flex-end;
}



